<!DOCTYPE html>
<html>
<title>TheatriCAL</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/css/uikit.min.css" />

<!-- UIkit JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/js/uikit-icons.min.js"></script>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-red w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Productions</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Profile</a>
    <a href="#login" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" uk-toggle>Login</a>
    <a href="#register" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" uk-toggle>Register</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 4</a>
  </div>
</div>

<!-- This is the login modal -->
<div id="login" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
      <container id="signInContainer">
          <form>
            <fieldset class="uk-fieldset">

                <legend class="uk-legend">Sign In</legend>

                <div class="uk-margin">
                    <input class="uk-input" id="txtEmail" type="email" placeholder="Email">
                </div>

                <div class="uk-margin">
                    <input class="uk-input" id="txtPassword" type="password" placeholder="Password">
                </div>

                <div class="uk-margin">
                    <button id="btnLogin" class="uk-button uk-button-default btn btn-action">Log In</button>
                </div>

            </fieldset>
          </form>
</container>
    </div>
</div>

<!-- This is the register modal -->
<div id="register" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
      <container id="signInContainer">
          <form>
            <fieldset class="uk-fieldset">

                <legend class="uk-legend">Sign Up</legend>

                <div class="uk-margin">
                    <input class="uk-input" id="txtFirstName" type="text" placeholder="First Name">
                </div>

                <div class="uk-margin">
                    <input class="uk-input" id="txtLastName" type="text" placeholder="Last Name">
                </div>

                <div class="uk-margin">
                    <input class="uk-input" id="txtEmail" type="email" placeholder="Email">
                </div>

                <div class="uk-margin">
                    <input class="uk-input" id="txtPassword" type="password" placeholder="Password">
                </div>

                <div class="uk-margin">
                    <input class="uk-input" id="txtPhone" type="text" placeholder="Phone Number ('555-555-5555')">
                </div>

                <div class="uk-margin">
                    <button id="btnSignUp" class="uk-button uk-button-default btn btn-secondary">Sign Up</button>
                </div>

            </fieldset>
          </form>
</container>
    </div>
</div>

<!-- Header -->
<header class="w3-container w3-red w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">TheatriCAL</h1>
  <p class="w3-xlarge">Manage your production with ease</p>
  <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Get Started</button>
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Manage your production with ease</h1>
      <h5 class="w3-padding-32">Theatre rehearsals are notoriously difficult to schedule. Actors typically submit black-out dates on paper, email, or via google forms. Regardless of the method, theatre directors need to manually collate the information in order to schedule rehearsals. TheatriCAL puts all of the information necessary to schedule rehearsals in one place. Scheduling rehearsals has never been easier.</h5>

      <p class="w3-text-grey">Theatre rehearsals are notoriously difficult to schedule. Actors typically submit black-out dates on paper, email, or via google forms. Regardless of the method, theatre directors need to manually collate the information in order to schedule rehearsals. TheatriCAL puts all of the information necessary to schedule rehearsals in one place. Scheduling rehearsals has never been easier.</p>
    </div>

    <div class="w3-third w3-center">
      <i class="fa fa-calendar w3-padding-64 w3-text-red" style="font-size: 1500%"></i>
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center w3-container">
      <h1>Lorem Ipsum</h1>
      <h5 class="w3-padding-32">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h5>
      <img style="width:100%" class="w3-round" src="https://www.petmd.com/sites/default/files/petmd-kitten-facts.jpg">
    </div>

    <div class="w3-third w3-center w3-container">
      <h1>Lorem Ipsum</h1>
      <h5 class="w3-padding-32">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h5>
      <img style="width:100%" class="w3-round" src="https://www.petmd.com/sites/default/files/petmd-kitten-facts.jpg">
    </div>

    <div class="w3-third w3-center w3-container">
      <h1>Lorem Ipsum</h1>
      <h5 class="w3-padding-32">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h5>
      <img style="width:100%" class="w3-round" src="https://www.petmd.com/sites/default/files/petmd-kitten-facts.jpg">
    </div>
  </div>
</div>

<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">Lorem ipsum: dolor sit amet</h1>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">
  <div class="w3-xlarge w3-padding-32">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
 </div>
 <p>© 2018 Tim Burns, Chris Casey, and Hunter Jefferson. ALL RIGHTS RESERVED. | AUSTIN, TX</p>
</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>

</body>
</html>
