<!DOCTYPE html>
<html>
<title>TheatriCAL</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
.navbar {overflow: hidden; background-color: #333; font-family: Arial, Helvetica, sans-serif;}
.navbar a {float: left; font-size: 16px; color: white; text-align: center; padding: 14px 16px; text-decoration: none;}
.dropdown {float: left; overflow: hidden;}
.dropdown .dropbtn {font-size: 16px; border: none; outline: none; color: white; padding: 14px 16px; background-color: inherit; font-family: inherit; margin: 0;}
.navbar a:hover, .dropdown:hover .dropbtn {background-color: red;}
.dropdown-content {display: none; position: absolute; background-color: #f9f9f9; min-width: 160px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 1;}
.dropdown-content a {float: none; color: black; padding: 12px 16px; text-decoration: none; display: block; text-align: left;}
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
.uk-link, a {color: black !important;}
.parallax { background-image: url("http://pbs.bento.storage.s3.amazonaws.com/hostedbento-prod/filer_public/PBS%20Arts/Broadway%27s%20Best/Photos/HolidayInn.jpg"); height: 650px; background-attachment: fixed; background-position: center; background-repeat: no-repeat; background-size: cover;}
</style>
<!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/css/uikit.min.css" />

<!-- UIkit JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/js/uikit-icons.min.js"></script>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-red w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>

    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-white">TheatriCAL</a>
    <!-- <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Productions</a> -->
    <a href="#login" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" uk-toggle>Login</a>
    <a href="#register" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" uk-toggle>Register</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <!-- <a href="#" class="w3-bar-item w3-button w3-padding-large">Productions</a> -->
    <a href="#login" class="w3-bar-item w3-button w3-padding-large">Login</a>
    <a href="#register" class="w3-bar-item w3-button w3-padding-large">Register</a>
  </div>
</div>

<!-- This is the login modal -->
<div id="login" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
      <container id="signInContainer">
          <form action="/auth" method="POST">
            <fieldset class="uk-fieldset">

                <legend class="uk-legend">Sign In</legend>

                <div class="uk-margin">
                    <input class="uk-input" id="txtEmail" type="email" name="email" placeholder="Email">
                </div>

                <div class="uk-margin">
                    <input class="uk-input" id="txtPassword" type="password" name="password" placeholder="Password">
                </div>

                <div class="uk-margin">
                    <button id="btnLogin" class="uk-button uk-button-default btn btn-action">Log In</button>
                </div>

            </fieldset>
          </form>
</container>
    </div>
</div>

<!-- This is the register modal -->
<div id="register" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
      <container id="signInContainer">
          <form action="/users" method="POST">
            <fieldset class="uk-fieldset">

                <legend class="uk-legend">Sign Up</legend>

                <div class="uk-margin">
                    <input class="uk-input" id="registerFirstName" name="first_name" type="text" placeholder="First Name">
                </div>

                <div class="uk-margin">
                    <input class="uk-input" id="registerLastName" name="last_name" type="text" placeholder="Last Name">
                </div>

                <div class="uk-margin">
                    <input class="uk-input" id="registerEmail" name="email" type="email" placeholder="Email" required>
                </div>

                <div class="uk-margin">
                    <input class="uk-input" id="registerPassword" name="password" type="password" placeholder="Password" required>
                </div>

                <div class="uk-margin">
                    <input class="uk-input" id="registerPhone" name="phone" type="text" placeholder="Phone Number ('555-555-5555')">
                </div>

                <div class="uk-margin">
                    <button id="btnSignUp" class="uk-button uk-button-default btn btn-secondary">Sign Up</button>
                </div>

            </fieldset>
          </form>
      </container>
    </div>
</div>

<!-- Header -->
<header class="w3-container w3-red w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">TheatriCAL</h1>
  <p class="w3-xlarge">Manage your production with ease</p>
  <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Get Started</button>
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content" style="display: flex; align-items: center;">
    <div class="w3-twothird">
      <h1>Manage your production with ease</h1>
      <h5 class="">Theatre rehearsals are notoriously difficult to schedule. Actors typically submit black-out dates on paper, email, or via google forms. Regardless of the method, theatre directors need to manually collate the information in order to schedule rehearsals. TheatriCAL puts all of the information necessary to schedule rehearsals in one place. Scheduling rehearsals has never been easier.</h5>
    </div>

    <div class="w3-third w3-center">
      <img src="masks.png" style="margin-left:25px" alt="">
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center w3-container">
      <h1>Cast List</h1>
      <h5 class="">If you are directing a production, keep track of your cast list and character roles with ease. Easily add new actors and characters to your cast list, which updates in real-time.</h5><br>
      <div class="">
        <i class="fa fa-list-ul" style="font-size: 1300%"></i>
      </div>
    </div>

    <div class="w3-third w3-center w3-container">
      <h1>Personal Profile</h1>
      <h5 class="">Create your own profile page and keep up to date with all your rehersal and performance dates. Post your blackout dates so your castmates can scheduale rehersals in the most effective manner possible.</h5>
      <div class="">
        <i class="fa fa-users" style="font-size: 1300%"></i>
      </div>
    </div>

    <div class="w3-third w3-center w3-container">
      <h1>It's a date!</h1>
      <h5 class="">Easily see your fellow cast members blackout dates, and plan accordingly. Maximize rehersal dates by easily seeing who is available for which scene around any date!</h5><br>
      <div class="">
        <i class="fa fa-calendar" style="font-size: 1300%"></i>
      </div>
    </div>
  </div>
</div>

<div class="parallax"></div>

<!-- Footer -->
<footer class="w3-container w3-padding-32 w3-center w3-opacity">
  <div class="w3-xlarge">
    <a href="https://www.instagram.com/theatriCAL_app/"><i class="fa fa-instagram w3-hover-opacity"></i></a>
  </div>
  <div class="w3-xlarge">
    <p style="margin-top: 10px;">Contact: theatrical@gmail.com</p>
  </div>
  <p>© 2018 Tim Burns, Chris Casey, and Hunter Jefferson. ALL RIGHTS RESERVED. | AUSTIN, TX</p>
</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>

</body>
</html>
