body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
.uk-subnav-pill>.uk-active>a {background-color: #505050 !important; color: white !important;}
/* .uk-subnav>* {padding-left: 20px !important; width: 100% !important;}
*, *:before, *:after {box-sizing: content-box !important;} */

table {font-family: arial, sans-serif; border-collapse: collapse; width: 100%;}
td, th {border: 1px solid #dddddd; text-align: left; padding: 8px;}
tr:nth-child(even) {background-color: #dddddd;}
.navbar {overflow: hidden; background-color: #333; font-family: Arial, Helvetica, sans-serif;}
.navbar a {float: left; font-size: 16px; color: white; text-align: center; padding: 14px 16px; text-decoration: none;}
.dropdown {float: left; overflow: hidden;}
.dropdown .dropbtn {font-size: 16px; border: none; outline: none; color: white; padding: 14px 16px; background-color: inherit; font-family: inherit; margin: 0;}
.navbar a:hover, .dropdown:hover .dropbtn {background-color: red;}
.dropdown-content {display: none; position: absolute; background-color: #f9f9f9; min-width: 160px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 1;}
.dropdown-content a {float: none; color: black; padding: 12px 16px; text-decoration: none; display: block; text-align: left;}
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
.uk-link, a {color: black !important;}

.rehearsal {
  background-color: red;
}

.blackout {
  background-color: black;
  border-color: black;
}

.fc-unthemed .fc-content, .fc-unthemed .fc-divider, .fc-unthemed .fc-list-heading td, .fc-unthemed .fc-list-view, .fc-unthemed .fc-popover, .fc-unthemed .fc-row, .fc-unthemed tbody, .fc-unthemed td, .fc-unthemed th, .fc-unthemed thead {
    color: white;
}

.fc-day-number, .fc-day-header {color: black !important;}

.fc-view-container {
    position: relative;
    z-index: -1;
}
